{$STREAM_DOMAIN:game.pyongyangracer.com} {
	encode zstd gzip

	reverse_proxy queue-gateway:8080 {
		flush_interval -1
		header_up X-Forwarded-For {remote_host}
	}

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "same-origin"
	}
}
